<?xml version="1.0"?>
<model>
  <name>balance_robot</name>
  <version>0.1.0</version>
  <sdf version="1.9">model.sdf</sdf>

  <author>
    <name>State Estimation Team</name>
    <email>eeedsasdf@postech.ac.kr</email>
  </author>

  <description>
    Minimal SDF model for a two-wheeled self-balancing robot.
  </description>
</model>
